<div class='col-lg-5'>
  <h1>球場詳細画面</h1>
  <!-- 球場名 -->
  <!-- 紹介文　 -->
  <!-- 球場住所 -->
  <div class='form-group'>
    <label>アクセス採点</label>
    <br>
    <div id='star-rate'></div>
    <label>グルメ採点</label>
    <br>
    <div id='star2-rate'></div>
    <label>ムード採点</label>
    <br>
    <div id='star3-rate'></div>
    <label>キャパシティ採点</label>
    <br>
    <div id='star4-rate'></div>
    <label>キャパシティ採点</label>
    <br>
    <div id='star5-rate'></div>
  </div>
  <br>
</div>
<div class='col-lg-7'>
  <h1>ユーザー投稿一覧</h1>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th>球場名</th>
        <th>投稿者</th>
        <th>観戦日</th>
        <th>投稿内容</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<!-- --------------------------------------------------------------------------------- -->
