%h3 球場ごとのTOP画面
.col-lg-6
  %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBXVVA0A41o5mRG_hSO9KrzOp73q5ES91c&callback=initMap"}
    :cdata
  / マップ
  #map
  / js部分
