<h1>球場別詳細</h1>
<%= @post.stadium %>
<script type="text/javascript">
    function initMap() {

        var test = { lat: 36.096863, lng: 140.160550};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @post.stadium.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBXVVA0A41o5mRG_hSO9KrzOp73q5ES91c&callback=initMap">
</script>

<p id="notice"><%= notice %></p>


<style type="text/css">
  #map { height: 300px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 50%;}
</style>
<div id="map"></div>