<main>
  <div class="row">
	   <div class="col s3"></div>
	   <div class=" col s7 ">
		  <h5 class="center-align">フォロ一覧</h5>
		  <div class="card grey lighten-4">
             <div class="card-content ">
				 <table class="striped">
				 	 <% @user.each do |user| %>
				        <% user = User.find_by(id: user.follow_id) %>
					 	<tbody>
							<tr>
							  <td><%= link_to  public_user_path(user) do %><%= user.name %><% end %></td>
							  <td><%= render 'public/relationships/follow_button', user: user %></td>
							</tr>
					    </tbody>
				    <% end %>
				</table>
	         </div>
	       </div>
         </div>
     </div>
  </div>
</main>
