<main>
  <div class="row">
    <div class="col s3"></div>
	    <div class="col s6">
			 <h1>スタログとは</h1>
			 <h4>スタジアムをログするの略</h4>
			 <p>プロ野球の球場　レビューサイトです<br>
			 あなたはプロ野球を野球場で観戦したことはありますか?
			 真剣な熱い勝負に熱い応援球場と言えど地方球場からホーム球場までバリデーション豊かで特色も違います<br>
			 歴史ある高校球児の聖地甲子園球場球場内にメリーゴーランド,観覧車がある楽天生命パーク<br>
			例えば席からの見やすさや球場までの行きやすさ<br>　
			球場の応援チアリーダーやパフォーマンスなどのエンターテーメント<br>
			  ご当地グルメの美味しさ、限定グルメ　価格帯 ホーム球場の応援や雰囲気<br>
			   また普段行かない球場や遠征に行った時は球場に試合を見に行くだけじゃなくその土地の観光もしたりします<br>
			</p>
			<p>スタログでは球場ごとに良いところ悪いところの評価をユーザーがレビューにして投稿することができます<br>
			またユーザーがおすすめの球場に行くまでのおすすめの飲食店やお気に入りの場所プランにして記録し検索することができます</p>
		</div>
    </div>
</main>