<main>
  <div class="row">
	    <div class="col s12 center-align">
			 <h1 class="about-title">スタログとは</h1>
			 <h3>スタジアムをログするの略</h3>
			 <h4>スタログはプロ野球ホームスタジアム12球場をレビューするサイトです</h4>
			 <h5>あなたはプロ野球を野球場で観戦したことはありますか?<br>
			 真剣な熱い勝負に熱い応援球場と言えど地方球場からホーム球場までバリデーション豊かで特色も違います。<br>
			 例えば歴史ある高校球児の聖地甲子園球場や　球場にメリーゴーランド,観覧車がある楽天生命パークなど<br>
			 いろんな球場があります。
			例えば席からの見やすさ、電車や駅からの球場までの行きやす<br>　
			ホーム球場の応援、チアリーダーやパフォーマンスなどのエンターテーメント<br>
			球場のご当地グルメの美味しさ、限定グルメ　値段<br>
			 また普段行かない球場や遠征に行った時は球場に試合を見に行くだけじゃなくその土地の観光もしたりします<br>
			</p>
			<p>スタログでは球場ごとに良いところ悪いところの評価をユーザーがレビューにして投稿することができます<br>
			またユーザーがおすすめの球場に行くまでのおすすめの飲食店やお気に入りの場所プランにして記録し検索することができます。</h5>
		</div>
    </div>
</main>